{{#fg}}
<table class="list" id="fg{{id}}" cellspacing="0">
    <caption>
        {{name}}
    </caption>
    <thead>
    <tr>
        <th>
            Forum
        </th>
        <th>
            Threads
        </th>
        <th>
            Last Post
        </th>
    </tr>
    </thead>
    <tbody>
    {{#forums}}
    <tr class="forum">
        <td>
            <h1>
                <a class="forum_link" id="flid{{id}}">{{name}}</a>
            </h1><br>
            {{description}}
        </td>
        <td>
            {{num_threads}}
        </td>
        {{#last_post}}
        <td>
            {{#is_post}}
            in <a class="lp_link" id="lpid{{thread.id}}">{{thread.title}}</a>
            {{/is_post}}
            {{^is_post}}
            <a class="lp_link" id="lpid{{id}}">{{title}}</a>
            {{/is_post}}
            by <a>{{user.username}}</a>
            <br/>
            on <span class="date">{{date_posted}}</span>
        </td>
        {{/last_post}}
        {{^last_post}}
        <td>No posts in this forum.</td>
        {{/last_post}}
    </tr>
    {{/forums}}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            Total threads: {{total_threads}}
        </td>
    </tr>
    </tfoot>
</table>
{{/fg}}